<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0," />
    <link rel="profile" href="http://gmpg.org/xfn/11" />
    <link rel="shortcut icon" href="./favicon.png" />
    <link rel="apple-touch-icon" href="./icon-touch.png" />
    <!-- Stylesheet -->
    <link rel="stylesheet" type="text/css" href="./style.css" />
    <link rel="stylesheet" type="text/css" href="./css/mobile.css" />
    <link rel="stylesheet" type="text/css" href="./css/jquery-ui.css" />
    <link rel="stylesheet" type="text/css" href="./css/datepicker.css" />
    <link rel="stylesheet" type="text/css" href="./css/lightslider.min.css" />
    <link rel="stylesheet" type="text/css" href="./css/multiple-select.css" />
    <link rel="stylesheet" type="text/css" href="./vendors/owl-carousel/owl.carousel.css" />
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Gentium+Basic' rel='stylesheet' type='text/css'>
    <!-- Google maps -->
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
    <title>BaliOn</title>
</head>

<body class="details-page">
    <header>
        <div class="top-menu">
            <div class="outer">
                <a href="#" class="logo"><img src="./images/logo.png" alt=""></a>
                <div class="lang inline">
                    <div><span class="no_translate"><select name="lang" onchange="document.location.href=this.options[this.selectedIndex].value;"><option value="/search" selected="selected">English</option><option value="/id/search">Bahasa Indonesia</option></select><br></span>
                        <div id="tr_credit"></div>
                    </div>
                </div>
                <div class="currency dropdown inline">
                    <span>USD</span>
                    <ul>
                        <li>USD</li>
                        <li>IDR</li>
                    </ul>
                </div>
                <a href="#" class="btn btn-login inline">Login</a>
            </div>
        </div>
        <!-- Navigation bar -->
        <div class="navbar-wrapper">
            <ul id="navbar">
                <li>
                    <a href="#">Villas</a>
                    <ul class="sub-menu">
                        <li><a href="#">Our Thinking & Values</a></li>
                        <li><a href="#">The Balion's Experience</a></li>
                        <li><a href="#">The Balion Team</a></li>
                        <li><a href="#">Balion in Press</a></li>
                        <li><a href="#">Balion's Newsletter</a></li>
                    </ul>
                </li>
                <li><a href="#">About</a></li>
                <li><a href="#">Bali Guide</a></li>
                <li><a href="#">Villa Management</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
        <!-- // Navigation bar -->
    </header>

    <!-- Hero -->
    <div id="hero">
        <div class="hero-background" style="background-image: url(./images/hero-1.jpg)"></div>

        <!-- Camera icon -->
        <div class="camera-icon" data-count="3">
            <img src="./images/camera.svg" alt="">
        </div>
    </div>

    <div id="slideshow">
        <!-- Slideshow -->
        <div class="images">
            <div class="slide" style="background-image: url(./images/hero-1.jpg)">
                <img src="./images/hero-1.jpg" />
            </div>
            <div class="slide" src="./images/hero-2.jpg" style="background-image: url(./images/hero-2.jpg)">
                <img src="./images/hero-2.jpg" />
            </div>
            <div class="slide" style="background-image: url(./images/hero-1.jpg)">
                <img src="./images/hero-1.jpg" />
            </div>
            <div class="slide" src="./images/hero-2.jpg" style="background-image: url(./images/hero-2.jpg)">
                <img src="./images/hero-2.jpg" />
            </div>
            <div class="slide" style="background-image: url(./images/hero-1.jpg)">
                <img src="./images/hero-1.jpg" />
            </div>
            <div class="slide" src="./images/hero-2.jpg" style="background-image: url(./images/hero-2.jpg)">
                <img src="./images/hero-2.jpg" />
            </div>
            <div class="slide" style="background-image: url(./images/hero-1.jpg)">
                <img src="./images/hero-1.jpg" />
            </div>
            <div class="slide" src="./images/hero-2.jpg" style="background-image: url(./images/hero-2.jpg)">
                <img src="./images/hero-2.jpg" />
            </div>
            <div class="slide" style="background-image: url(./images/hero-1.jpg)">
                <img src="./images/hero-1.jpg" />
            </div>
            <div class="slide" src="./images/hero-2.jpg" style="background-image: url(./images/hero-2.jpg)">
                <img src="./images/hero-2.jpg" />
            </div>
            <div class="slide" style="background-image: url(./images/hero-1.jpg)">
                <img src="./images/hero-1.jpg" />
            </div>
            <div class="slide" src="./images/hero-2.jpg" style="background-image: url(./images/hero-2.jpg)">
                <img src="./images/hero-2.jpg" />
            </div>
            <div class="slide" style="background-image: url(./images/hero-1.jpg)">
                <img src="./images/hero-1.jpg" />
            </div>
            <div class="slide" src="./images/hero-2.jpg" style="background-image: url(./images/hero-2.jpg)">
                <img src="./images/hero-2.jpg" />
            </div>
            <div class="slide" style="background-image: url(./images/hero-1.jpg)">
                <img src="./images/hero-1.jpg" />
            </div>
            <div class="slide" src="./images/hero-2.jpg" style="background-image: url(./images/hero-2.jpg)">
                <img src="./images/hero-2.jpg" />
            </div>
            <div class="slide" style="background-image: url(./images/hero-1.jpg)">
                <img src="./images/hero-1.jpg" />
            </div>
            <div class="slide" src="./images/hero-2.jpg" style="background-image: url(./images/hero-2.jpg)">
                <img src="./images/hero-2.jpg" />
            </div>
        </div>
        
        <!-- Pager -->
        <div id=adv-custom-pager class="center external">
            <span class="thumbnail-button">Thumbnails</span>
            <div class="carousel"></div>
        </div>

        <!-- Arrow -->
        <span class="browse prev">
            <img src="./images/caret-left.png" alt="">
        </span>
        <span class="browse next">
            <img src="./images/caret-right.png" alt="">
        </span>
        <span class="close">
            <img src="./images/close.png" alt="">
        </span>
        <span class="page-count">
            <span class="current">6</span>/<span class="total">8</span>
        </span>
    </div>

    <div id="content" class="details">
        <section class="description">
            <div class="outer">
                <h2>Villa Ambra <span>| Pantai Lima</span></h2>
                <div class="row">
                    <div class="info">
                        <div class="info-wrapper">
                            <ul class="features">
                                <li><i class="icon icon-car" data-num="2"></i></li>
                                <li><i class="icon icon-beach"></i></li>
                                <li><i class="icon icon-kitchen"></i></li>
                                <li><i class="icon icon-swimming"></i></li>
                                <li><i class="icon icon-people"></i></li>
                            </ul>
                            <div class="price">
                                <span>Starting Price</span>
                                <h3>USD 1295</h3>
                            </div>
                            <a href="#" class="btn">Book Now</a>
                        </div>
                    </div>
                    <div class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe nam minus vitae exercitationem, non doloribus. Velit natus ipsa nobis explicabo cupiditate obcaecati, suscipit tempore harum ratione unde, et enim? Sunt neque id ipsa cumque iure molestias aliquam, quam itaque voluptatibus eligendi est, porro illo dolor cupiditate mollitia nulla ab vero ut quaerat omnis, similique inventore a quidem optio! Velit laboriosam necessitatibus quasi similique veritatis, vero molestias neque sunt inventore consequuntur nemo eaque esse sit, fugiat, ratione. Recusandae molestiae, iusto repellat quos alias architecto illum minus, optio laudantium consequuntur vel voluptatem. Hic molestias modi ipsam, sapiente. Officiis sapiente, aliquam accusantium quis!</div>
                </div>
            </div>
        </section>
        <section class="gallery-grid">
            <div class="outer">
                <div class="row">
                    <a href="#"><img src="http://lorempixel.com/500/350/sports/1/" alt=""></a>
                    <a href="#"><img src="http://lorempixel.com/500/450/sports/1/" alt=""></a>
                    <a href="#"><img src="http://lorempixel.com/500/550/sports/1/" alt=""></a>
                    <a href="#"><img src="http://lorempixel.com/500/450/sports/1/" alt=""></a>
                    <a href="#" data-text="See all 12 photos"><img src="http://lorempixel.com/500/350/sports/1/" alt=""></a>
                </div>
            </div>
        </section>
        <section class="map">
            <div id="map"></div>
        </section>
        <section class="villa-details">
            <div class="outer">
                <ul class="details-menu">
                    <li class="selected"><a href="#" data-target="#villa-info">Villa Info</a></li>
                    <li><a href="#" data-target="#fact">Fact</a></li>
                    <li><a href="#" data-target="#sheet">Sheet</a></li>
                    <li><a href="#" data-target="#gallery">Gallery</a></li>
                    <li><a href="#" data-target="#calendar-grid">Calendar</a></li>
                    <li><a href="#" data-target="#guestbook">Guestbook</a></li>
                    <li><a href="#" data-target="#rates">Rates</a></li>
                </ul>
                <div class="details-wrapper">
                    <div id="villa-info">
                        <table>
                            <tr>
                                <td>Built In</td>
                                <td>2008</td>
                            </tr>
                            <tr>
                                <td>Bedrooms</td>
                                <td>5</td>
                            </tr>
                            <tr>
                                <td>Surrounding</td>
                                <td>Beachfront</td>
                            </tr>
                            <tr>
                                <td>Swimming Pool</td>
                                <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, delectus?</td>
                            </tr>
                            <tr>
                                <td>Distance Airport</td>
                                <td>Dolor sit amet, consectetur adipisicing elit. Dolorum, delectus?</td>
                            </tr>
                            <tr>
                                <td>Distance Beach</td>
                                <td>On the beach</td>
                            </tr>
                            <tr>
                                <td>Technical Info</td>
                                <td>Dolor sit amet, consectetur adipisicing elit. Dolorum, delectus?</td>
                            </tr>
                            <tr>
                                <td>Staffing</td>
                                <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, delectus?</td>
                            </tr>
                            <tr>
                                <td>Other Info</td>
                                <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum deleniti quisquam eligendi ratione doloremque, dolorem eos asperiores? Corporis consequuntur dolor ipsam, id culpa consequatur repellat architecto? Temporibus voluptates, incidunt totam cum labore saepe sed reiciendis perferendis accusamus magnam distinctio adipisci enim, ipsam reprehenderit. Nesciunt, veniam quisquam, dolorum aliquid dolore beatae.</td>
                            </tr>
                        </table>
                    </div>
                    <div id="fact">
                        Aperiam maiores excepturi, dolore repellat, consectetur tempore omnis aliquam eveniet iure, magni modi nam iusto corrupti, voluptatibus fugiat non quisquam tenetur ipsa. Culpa atque harum consectetur autem, vel, ipsam consequatur non ratione dolorem officia at nulla deserunt itaque possimus velit explicabo, ipsa enim distinctio fuga? Reiciendis quasi, vitae explicabo!
                    </div>
                    <div id="sheet">
                        Blanditiis aliquid id ea aperiam magnam exercitationem animi. Rem voluptas porro ratione at dolor, fugiat quae provident deserunt maiores molestias optio accusantium unde amet, aspernatur blanditiis obcaecati nisi voluptatibus culpa earum ipsum voluptatem illum! Ipsam quam vel magnam hic provident, praesentium doloribus voluptates, commodi ullam earum ea facilis libero dolorum eum dolores similique reiciendis fugiat, deleniti ab possimus itaque eveniet explicabo delectus non! Quo asperiores sunt beatae optio. Nulla accusamus quis quo, amet sint cumque aliquid officiis vel aliquam officia illo ratione doloremque odit. Aliquam amet eligendi qui.
                    </div>
                    <div id="gallery">
                        Praesentium doloribus voluptates, commodi ullam earum ea facilis libero dolorum eum dolores similique reiciendis fugiat, deleniti ab possimus itaque eveniet explicabo delectus non! Quo asperiores sunt beatae optio. Nulla accusamus quis quo, amet sint cumque aliquid officiis vel aliquam officia illo ratione doloremque odit. Aliquam amet eligendi qui.
                    </div>
                    <div id="calendar-grid">
                        <!-- Calendar -->

                        <div id="calendar"></div>
                        <script id="calendar-awesome-template" type="text/template">
                            <div class="cm--wrapper clearfix" id="calendar-awesome">
                                <div class="cm--header clndr-controls clearfix">
                                    <span class="cm-navigation-prev clndr-previous-button">&lt;</span>
                                    <% _.each(months, function(month) { %>
                                        <div class="cm--header-month">
                                            <%= month.month.format('MMMM') %>
                                        </div>
                                        <% }); %>
                                            <span class="cm-navigation-next clndr-next-button">&gt;</span>
                                </div>
                                <div class="cm--content clearfix">
                                    <% _.each(months, function(month) { %>
                                        <div class="cm--month-block clndr-grid">
                                            <div class="cm--days-of-the-week clearfix days-of-the-week">
                                                <% _.each(daysOfTheWeek, function(day) { %>
                                                    <div class="cm--header-day">
                                                        <%= day %>
                                                    </div>
                                                    <% }); %>
                                            </div>
                                            <div class="cm--days clearfix">
                                                <% _.each(month.days, function(day) { %>
                                                    <div class="cm--day <%= day.classes %><% _.each(day.events, function(event) { %> <%= event.status %> <% }); %>"><span class="cm--day-number"><%= day.day %></span></div>
                                                    <% }); %>
                                            </div>
                                        </div>
                                        <% }); %>
                                </div>
                            </div>
                        </script>
                        <div class="legend">
                            <div class="type booked">Booked</div>
                            <div class="type booked checkin">Check In</div>
                            <div class="type booked checkout">Check Out</div>
                            <div class="type on_hold">On Request</div>
                            <div class="type available">Available</div>
                        </div>

                        <!-- // Calendar -->
                    </div>
                    <div id="guestbook">
                        Raesentium doloribus voluptates, commodi ullam earum ea facilis libero dolorum eum dolores similique reiciendis fugiat, deleniti ab possimus itaque eveniet explicabo delectus non! Quo asperiores sunt beatae optio. Nulla accusamus quis quo, amet sint cumque aliquid officiis vel aliquam officia illo ratione doloremque odit. Aliquam amet eligendi qui.
                    </div>
                    <div id="rates">
                        Ipsam quam vel magnam hic provident, praesentium doloribus voluptates, commodi ullam earum ea facilis libero dolorum eum dolores similique reiciendis fugiat, deleniti ab possimus itaque eveniet explicabo delectus non! Quo asperiores sunt beatae optio. Nulla accusamus quis quo, amet sint cumque aliquid officiis vel aliquam officia illo ratione doloremque odit. Aliquam amet eligendi qui.
                    </div>
                </div>
            </div>
        </section>
    </div>
    <footer>
        <div class="outer">
            <div class="row">
                <div class="grid facebook-update">
                    <h3>Our Latest Update</h3>
                    <ul>
                        <li>Villa Valentine - Stunning 5 bedroom Family villa. From USD $595 per night for 10 people - that works out to USD$59 per person per night!</li>
                        <li>Experience Villa Eden - Seminyak, Bali - http://modo.ly/1M9BFMF From USD$345 per night for 6 people For more details - se <a href="#">http://modo.ly/1GYiJ2f</a></li>
                    </ul>
                </div>
                <div class="grid">
                    <h3>Our Latest Video</h3>
                    <div class="iframe-wrapper">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/n4L_SyU6Brc" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="grid">
                    <h3>Newsletter</h3>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam.</p>
                    <form action="#">
                        <input type="text" placeholder="Your Email Address">
                        <button type="submit">Sign Up</button>
                    </form>
                </div>
            </div>
        </div>
    </footer>

    <!-- Script -->
    <script src="./js/jquery-1.11.3.min.js"></script>
    <script src="./js/jquery-ui.js"></script>
    <script src="./js/datepicker-settings.js"></script>
    <script src="./js/jquery.cycle2.min.js"></script>
    <script src="./js/multiple-select.js"></script>
    <script src="./js/lightslider.min.js"></script>
    <script src="./js/underscore.min.js"></script>
    <script src="./js/moment.min.js"></script>
    <script src="./js/clndr.min.js"></script>
    <script src="./vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="./js/app.js"></script>
</body>

</html>
