* {
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color: #333;
    margin: 0;
    line-height: 1.5;
    background: #EAF6EC;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    padding: 0 50px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: normal;
}

::-moz-selection {
    color: #ebebe3;
    background: #222;
}

::selection {
    color: #ebebe3;
    background: #222;
}

::-moz-selection {
    color: #ebebe3;
    background: #222;
}

.font-italic {
    font-family: "FM-Italic", Helvetica, Arial, sans-serif;
}


/*
 * Links
 */

a {
    color: #000;
    text-decoration: none;
    outline: none;
}

a:hover {
    color: #333;
    text-decoration: none;
}

a img {
    border: none;
}

.outer {
    max-width: 960px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}


/*
 * Page Structure
 */

header .top-menu {
    background-color: #1e3a21;
    text-align: right;
    padding: 30px 0;
}

header .navbar-wrapper {
    background-color: #152d18;
}

header .inline {
    display: inline-block;
    vertical-align: top;
}

header .dropdown {
    position: relative;
    cursor: pointer;
}

header .dropdown:before {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid rgba(255, 255, 255, 0.38);
    content: "";
    top: 50%;
    margin-top: -2px;
    right: 7px;
}

header .inline span {
    opacity: 0.3;
}

header .lang,
header .currency {
    background: #132a16;
    height: 34px;
    text-transform: uppercase;
    color: #fff;
    padding: 7px 25px 7px 10px;
    text-align: center;
    margin-right: 10px;
}

header .lang {
    min-width: 115px;
    padding: 0;
    background: transparent;
}

header .lang select {
    border: 0;
    vertical-align: top;
    outline: 0;
    background: #132A16;
    padding: 8px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.21);
    height: 34px;
    border-radius: 0;
}

header .lang.inline span {
    opacity: 1;
}

header .currency {
    min-width: 70px;
}

header .dropdown ul {
    display: none;
    position: absolute;
    right: 0;
    min-width: 100%;
    top: 34px;
    margin: 0;
    padding: 0;
    background: #102212;
    list-style: none;
    z-index: 110;
}

header .dropdown li {
    padding: 5px 10px;
}

header .dropdown li:hover {
    background: #115118;
}

header .opened ul {
    display: block;
}

.btn {
    background: #169f25;
    text-transform: uppercase;
    height: 34px;
    padding: 7px 15px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    border: 1px solid #169f25;
    border-radius: 0;
    -webkit-border-radius: 0;
    transition: background 0.2s ease;
    display: inline-block;
    vertical-align: top;
}

.btn.white {
    background: transparent;
    color: #169F25;
}

.btn.transparent {
    background: transparent;
    color: #169F25;
    border-color: transparent;
}

.buttons .btn {
    margin-right: 10px;
}

.btn:hover {
    background: #132A16;
    border-color: #132A16;
    color: #fff;
}

header #navbar {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Gentium Basic', serif;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
}

header .outer {
    position: relative;
}

header .logo {
    width: 200px;
    position: absolute;
    left: 20px;
    top: -18px;
}

header .logo img {
    max-width: 100%;
    height: auto;
}

header #navbar a {
    color: #fff;
}

header #navbar > li {
    display: inline-block;
    padding: 5px 25px;
    position: relative;
}

header #navbar > li:hover {
    background: #115118;
}

header .sub-menu a {
    padding: 10px 20px;
    display: inline-block;
}

header #navbar .sub-menu {
    display: none
}

header #navbar > li:hover ul {
    display: block;
}

header .sub-menu {
    position: absolute;
    top: 36px;
    left: 0;
    list-style: none;
    padding: 0;
    background: #102212;
    min-width: 250px;
    z-index: 100;
}

header .sub-menu li {
    border-bottom: 1px solid #1A2C1C;
    text-align: left;
}

header .sub-menu li:hover {
    background: #115118;
}

header {
    position: relative;
    z-index: 110;
}

#slideshow {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: #fff;
    z-index: 300;
    background: #1e3a21;
    display: none;
}

#slideshow .page-count {
    border: 1px solid #fff;
    padding: 6px 15px;
    border-radius: 2px;
    position: absolute;
    left: 30px;
    top: 30px;
}

#slideshow .images {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 130px;
    right: 130px;
}

#slideshow .close {
    position: absolute;
    right: 30px;
    top: 30px;
    cursor: pointer;
}

#slideshow .close img {
    height: 25px;
}

#slideshow .slide {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-size: contain;
    background-position: center center;
    padding-top: 330px;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-repeat: no-repeat;
}

#slideshow .slide img {
    display: none
}

#adv-custom-pager {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    bottom: 0;
    height: 80px;
    background: #1D2C1F;
    z-index: 300;
    transform: translateY(100%);
    transition: transform 500ms ease;
}

.thumbnail-open #adv-custom-pager {
    transform: translateY(0%);
}

#adv-custom-pager .thumbnail-button {
    position: absolute;
    bottom: 100%;
    background: #1D2C1F;
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 11px;
    left: 50%;
    margin-left: -52px;
    cursor: pointer;
}

#adv-custom-pager > a {
    display: inline-block;
    padding: 12px 3px;
}

.details-page #hero {
    padding-top: 450px;
}

#hero {
    position: relative;
}

#hero .hero-background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

#hero .slideshow {
    height: 630px;
    position: relative;
    color: #fff;
}

#hero .slideshow .slide {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-size: cover;
    background-position: center center;
    padding-top: 330px;
    width: 100%;
    height: 100%;
}

#hero h2 {
    font-family: 'Gentium Basic', serif;
    font-size: 65px;
    margin: 20px 0;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}

#hero .form-inquiry {
    position: absolute;
    bottom: 0;
    left: 20px;
    right: 20px;
    padding-bottom: 20px;
}

#hero .form-inquiry .outer {
    background-color: rgba(255, 255, 255, 0.81);
    padding: 20px 11px;
    overflow: hidden;
}

#hero .form-member {
    float: left;
    width: 25%;
    padding-left: 9px;
    padding-right: 9px;
}

#hero .form-member > * {
    width: 100%;
    height: 37px;
    color: #6C6C6C;
    padding: 6px 10px;
    border: 1px solid #BCBCBC;
    outline: 0;
    background: #fff;
    border-radius: 0;
    -webkit-border-radius: 0;
}

#hero .form-member > input[type=text]:focus {
    border-color: #152d18;
}

#hero .form-member button {
    background-color: #169f25;
    color: #fff;
    border: 0;
}

#hero .form-member button:hover {
    background: #132A16;
}

.browse {
    position: absolute;
    z-index: 100;
    top: 50%;
    left: 50px;
    cursor: pointer;
}

.browse img {
    max-width: 30px;
}

.browse.next {
    left: auto;
    right: 50px;
}

#content .welcome {
    text-align: center;
    font-size: 17px;
    padding: 30px 0;
    background: #fff;
    padding-bottom: 50px;
}

#content .welcome p {
    margin: 0 auto;
    max-width: 580px;
}

#content .welcome h3 {
    font-size: 58px;
    font-family: 'Gentium Basic', serif;
    margin: 30px 0;
    color: #1c2e19;
    margin-bottom: 20px;
}

#content .welcome h4 {
    line-height: 1.5;
    font-size: 30px;
}

#content .welcome h4:after {
    display: none;
}

#content .grid-villas {
    padding: 30px 0;
}

#content .grid-villas h3 {
    font-size: 48px;
    font-family: 'Gentium Basic', serif;
    text-align: center;
    margin: 30px 0;
}

#content .grid-villas .row {
    margin-left: -15px;
    margin-right: -15px;
    font-size: 0;
}

#content .grid-villas .row:before,
#content .grid-villas .row:after {
    content: " ";
    display: table;
}

#content .grid-villas .row:after {
    clear: both;
}

#content .grid-villas .item {
    font-size: 14px;
    padding-left: 15px;
    padding-right: 15px;
    width: 33.3%;
    display: inline-block;
    margin-bottom: 30px;
    position: relative;
    vertical-align: top;
}

#content .grid-villas .image {
    height: 200px;
    position: relative;
    overflow: hidden;
}

#content .grid-villas .background {
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}

#content .grid-villas .image:hover .background {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

#content .grid-villas .text {
    background-color: #fff;
    padding: 10px;
    text-transform: uppercase;
    border: 1px solid #E7E7E7;
    border-top: 0;
}

#content.home .features,
#content.search .features {
    margin-left: -2px;
    margin-right: -2px;
    width: 60%;
}

#content.home .features li,
#content.search .features li {
    padding-left: 2px;
    padding-right: 2px;
}

#content .features {
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-left: -5px;
    margin-right: -5px;
}

#content .features li {
    list-style: none;
    float: left;
    width: 16.66%;
    padding-left: 5px;
    padding-right: 5px;
}

#content .features li:first-child {
    width: 33.32%;
}

#content .icon {
    padding-bottom: 100%;
    display: block;
    border-radius: 4px;
    position: relative;
    background: #1E3A21;
}

#content .icon-car {
    padding-bottom: 46%;
}

#content .icon-car:after {
    content: attr(data-num);
    position: absolute;
    color: #fff;
    right: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    top: 3px;
    padding: 2px 8px;
    line-height: 1;
    border-left: 1px solid #4D604F;
}

#content.details .icon-car:after {
    padding: 3px 10px;
    font-size: 15px;
}

#content.details .icon-car {
    padding-bottom: 42%;
}

#content .icon:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url(./images/icon-beach.svg);
    content: '';
    background-size: cover;
    background-repeat: no-repeat;
}

#content .icon-car:before {
    background: url(./images/icon-car.svg) no-repeat;
    right: 54%;
}

#content .icon-kitchen:before {
    background: url(./images/icon-dinner.svg);
}

#content .icon-swimming:before {
    background: url(./images/icon-swimming.svg);
}

#content .icon-people:before {
    background: url(./images/icon-user.svg);
}

#content h4 {
    font-size: 18px;
    position: relative;
    margin-bottom: 20px;
}

#content h4:after {
    position: absolute;
    bottom: -11px;
    width: 15%;
    left: 0;
    height: 1px;
    background: #333;
    content: "";
}

#content .label {
    width: 90px;
    background: #169f25;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    float: right;
    font-size: 16px;
    margin-right: 10px;
    margin-top: -5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: 110;
    position: absolute;
    right: 15px;
}

#content .label span {
    display: block;
    font-size: 14px;
}

#content .more {
    text-align: center;
    padding: 20px 0 50px 0;
}

#content .more .btn {
    font-size: 16px;
}


/* Search param */

.search-param {
    padding-top: 30px;
    padding-bottom: 21px;
    transition: padding-bottom 0.5s ease;
}

.search-param.revealed {
    padding-bottom: 0;
}

.search-param .wrapper {
    display: table;
    width: 100%;
    font-size: 14px;
    color: #1E3A21;
    margin-left: -10px;
    margin-right: -10px;
}

.search-param .wrapper > * {
    display: inline-block;
    vertical-align: middle;
    padding-right: 10px;
    padding-left: 10px;
    border-left: 1px solid #6D8E70;
    color: #169F25;
}

.search-param .name {}

.search-param .button {
    font-size: 13px;
    text-align: right;
}

.search-param .button .btn {
    padding: 8px 20px;
}

.search-param .stay-date span {}

.search-param-trigger {
    display: none
}


/* Refine search */

.refine-search .search-item {
    display: inline-block;
    font-size: 14px;
    width: 25%;
    padding-left: 9px;
    padding-right: 9px;
}

.refine-search .row {
    margin-left: -9px;
    margin-right: -9px;
    font-size: 0;
    padding-bottom: 25px;
}

.refine-search label {
    display: block;
    color: #7E7E7E;
    margin-bottom: 3px;
    font-size: 14px;
    font-weight: bold;
}

#hero .form-member > label {
    display: block;
    font-weight: bold;
    color: #7E7E7E;
    margin-bottom: 3px;
    font-size: 14px;
    background: transparent;
    border: 0;
    padding: 0;
    height: auto;
}

.search-param .wrapper > *:first-child,
.search-param .wrapper > *:last-child {
    border: 0;
}

.refine-search .ms-choice {
    border-radius: 0;
    height: 37px;
}

.refine-search .ms-choice > span {
    top: 7px;
}

#content .loading {
    display: none;
}

.body-on-loading #content .loading {
    display: block;
}

.body-on-loading #content .grid-villas,
.body-on-loading #content .pagination,
.body-on-loading #content .search-header {
    display: none;
}

#content .loading img {
    max-width: 50px;
    -webkit-animation-name: spin;
    -webkit-animation-duration: 2000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -webkit-animation-name: spin;
    animation-name: spin;
    -webkit-animation-duration: 2000ms;
    animation-duration: 2000ms;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}


/*
 * Animations
 */

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

#content .loading {
    text-align: center;
    padding: 160px 0;
}

#content .refine-search h4 {
    font-size: 16px;
    font-weight: bold;
    color: #152D18;
    display: inline-block;
    cursor: pointer;
}

#content .refine-search h4:before {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid rgb(0, 0, 0);
    content: "";
    top: 50%;
    margin-top: -1px;
    right: -12px;
}

#content .refine-search h4:after {
    display: none;
}

#content .description h4:after {
    display: none;
}

#content .description h4 {
    border-top: 1px solid #A6A6A6;
    font-size: 16px;
    font-weight: bold;
    color: #152D18;
    padding-top: 15px;
    margin-bottom: 10px;
}

.description p {
    margin: 0;
    font-size: 16px;
    line-height: 1.3;
    color: #142216;
}

footer {
    color: #333;
    background: #E8EAE8;
    border-top: 1px solid #E2E2E2;
}

footer .row {
    margin-left: -15px;
    margin-right: -15px;
    overflow: hidden;
    padding-bottom: 20px;
}

footer .grid {
    padding-left: 15px;
    padding-right: 15px;
    width: 33.3%;
    float: left;
}

footer .grid ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

footer .grid li {
    padding-left: 56px;
    position: relative;
    margin-bottom: 15px;
}

footer .grid li:before {
    width: 40px;
    height: 40px;
    background: url(./images/icon-facebook.png);
    position: absolute;
    top: 0;
    left: 0;
    content: "";
}

footer input[type=text] {
    display: block;
    width: 100%;
    height: 40px;
    padding: 10px;
    font-weight: 300;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    outline: none;
}

footer button:hover {
    background: #46C054;
    color: #fff;
}

footer button {
    background: transparent;
    text-transform: uppercase;
    height: 40px;
    padding: 7px 24px;
    font-weight: bold;
    color: #46C054;
    cursor: pointer;
    transition: background 0.2s ease;
    outline: 0;
    border: 2px solid #46C054;
    font-size: 14px;
    margin-top: 15px;
}

footer h3 {
    font-weight: bold;
    font-size: 24px;
    margin: 15px 0;
}

footer a {}

footer .outer {
    padding-top: 30px;
    padding-bottom: 30px;
}

footer .iframe-wrapper {
    position: relative;
    padding-bottom: 56%;
}

footer .iframe-wrapper iframe {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}


/* Search page */

.search-page .form-inquiry,
.search-page .search-header,
.search-page .pagination,
.search-param {
    background: #eaf6ec;
}

.search-page #hero .form-inquiry {
    position: relative;
    bottom: auto;
    left: auto;
    right: auto;
    padding-top: 15px;
    padding-bottom: 0;
}

.search-page #hero .form-inquiry .outer {
    background-color: transparent;
}

.search-page #content .grid-villas {
    padding-bottom: 0;
}

.search-header .outer {
    display: table;
    width: 100%;
    padding: 15px 20px;
    position: relative;
}

.search-header .outer:after {
    position: absolute;
    bottom: 0;
    content: "";
    left: 20px;
    right: 20px;
    height: 1px;
    background: #8A9D8C;
}

.availability .rates .wrapper {
    width: 50%;
    border: 1px dashed #C5C5C5;
    padding: 10px;
    border-top: 0;
    margin-bottom: 30px;
}

.availability .rates table {
    width: 100%;
    background: #fff;
    padding: 10px;
}

.availability .rates .inclusion {
    padding: 20px 0;
    padding-bottom: 0;
}

.availability .rates .inclusion span {
    font-weight: bold;
}

.availability .rates table tr:last-child td,
.availability .rates table tr td:last-child {
    text-align: right;
    vertical-align: top;
}

.availability .rates table tr:last-child td {
    padding: 23px 0;
    padding-bottom: 0;
}

.availability .rates .title {
    text-transform: uppercase;
    font-size: 15px;
    text-align: center;
    padding: 10px 0;
}

.search-header .title {
    font-size: 31px;
    color: #152d18;
}

.search-header .title,
.search-header .sort {
    display: table-cell;
}

.search-header .sort {
    text-align: right;
    font-size: 18px;
}

.search-header .sort select {
    height: 38px;
    background: transparent;
    border: 2px solid #90A293;
    border-radius: 0;
    color: #333;
    margin-left: 10px;
    padding: 0 10px;
}

.pagination {
    text-align: right;
    position: relative;
}

.pagination .outer {
    position: relative;
    padding: 20px;
    padding-bottom: 40px;
}

.pagination .outer:after {
    position: absolute;
    top: 0;
    content: "";
    left: 20px;
    right: 20px;
    height: 1px;
    background: #8A9D8C;
}

.pagination .pagi-item {
    display: inline-block;
    height: 30px;
    border: 1px solid #1E3A21;
    background: #fff;
    padding: 2px 6px;
    font-size: 16px;
    color: #333;
    margin-right: 1px;
    transition: background 0.2s ease;
}

.pagination .active,
.pagination .pagi-item:hover {
    background: #169f25;
    color: #fff;
}

#ui-datepicker-div {
    z-index: 200 !important;
}


/* Details page */

.details .description .row {
    margin-left: -15px;
    margin-right: -15px;
    overflow: hidden;
}

.details .description .desc,
.details .description .info {
    padding-left: 15px;
    padding-right: 15px;
    float: left;
    min-height: 1px;
}

.details .description .desc {
    width: 70%;
    font-size: 18px;
    color: #565656;
}

.details .description .info {
    width: 30%;
    float: right;
}

.details .gallery-grid .row {
    overflow: hidden;
}

.details .gallery-grid .row > a:nth-child(1),
.details .gallery-grid .row > a:nth-child(2) {
    width: 50%;
}

.details .gallery-grid img {
    vertical-align: top;
    max-width: 100%;
    height: auto;
}

.details .gallery-grid .row > a {
    float: left;
    width: 33.3%;
    padding: 2px;
}

.details .map {
    min-height: 400px;
    position: relative;
}

.details #map {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.details .details-wrapper > div {
    display: none;
}

.details .details-wrapper table tr td:first-child {
    font-weight: bold;
    padding-right: 20px;
    vertical-align: top;
    min-width: 150px;
}

.details .villa-details {
    background: #EAF6EC
}

.details .details-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    border-bottom: 1px solid #A0A0A0
}

.home #hero .outer > .form-member {
    width: 20%;
}

.details .description h2 {
    color: #169f25;
    font-size: 45px;
    border-bottom: 1px solid #9C9C9C;
    padding: 15px 0;
    margin-bottom: 20px;
}

.details .description,
.details .gallery-grid {
    padding: 30px 0;
    background: #fff;
}

.details .gallery-grid .row > a:last-child {
    position: relative;
}

.details .gallery-grid .row > a:last-child:after {
    content: attr(data-text);
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.24);
    text-align: center;
    color: #fff;
    font-size: 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.details .gallery-grid {
    padding-top: 0;
}

.details .description h2 span {
    font-weight: 300;
    font-size: 35px;
    color: #626262;
}

.details .details-menu li {
    float: left;
}

.details .details-menu li > a {
    text-transform: uppercase;
    font-size: 16px;
    display: block;
    padding: 40px 60px 20px 0;
    color: #6D6D6D;
}

.details .details-menu .selected > a {
    color: #159F25;
}

.details .details-menu:hover li > a {
    color: #6D6D6D;
}

.details .details-menu:hover li > a:hover {
    color: #159F25;
}

.details .details-wrapper > div:first-child {
    display: block;
}

.details .info-wrapper {
    background: #E9EBE8;
    padding: 20px;
}

.details .info-wrapper .btn {
    display: block;
    height: 41px;
    padding: 11px 15px;
    text-align: center;
}

.details .info-wrapper .price h3 {
    color: #169f25;
}

.details .info-wrapper .price h3 {
    color: #169f25;
    font-size: 34px;
}

.details .info-wrapper .price {
    padding: 10px 0;
    border-top: 1px solid #B9B9B9;
    border-bottom: 1px solid #B9B9B9;
    margin: 15px 0;
}

.details .details-wrapper {
    padding: 20px 0 40px 0;
    color: #7A7A7A;
}


/* Availabilty */

.availability .heading h3 {
    font-size: 27px;
    color: #1E3A21;
    padding: 10px 0;
    border-bottom: 1px solid;
}

.availability .hero-image {
    margin: 20px 0;
}

.availability .description {
    margin-bottom: 15px;
}

.availability .search-form .firmsdate .wrapper {
    padding-bottom: 15px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
}

.availability .hero-image img {
    max-width: 100%;
    height: auto;
    vertical-align: top;
}

.availability .hero-image .caption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.65);
    color: #fff;
    padding: 10px 20px;
}

#content.availability {
    padding: 30px 0;
}

.availability .row {
    margin-left: -5px;
    margin-right: -5px;
}

.availability .col {
    float: left;
    padding-right: 5px;
    padding-left: 5px;
}

.availability .col-100 {
    width: 100%;
}

.availability .col-50 {
    width: 50%;
}

.availability .hero-image {
    position: relative;
    padding-bottom: 34%;
    background-size: cover;
    background-position: center center;
}

.availability .col-33 {
    width: 33.3%;
}

.availability .search-form input[type=text],
.availability .search-form select,
.availability .search-form label {
    width: 100%;
}

.availability .search-form label {
    margin: 4px 0;
    display: block;
    color: #7A7A7A;
    min-height: 21px;
    margin-top: 10px;
}

.availability .search-form .firmsdate label {
    display: inline-block;
    width: auto;
}

.availability .search-form > .row {
    margin-left: -30px;
    margin-right: -30px;
}

.availability .search-form > .row > .col {
    padding-left: 30px;
    padding-right: 30px;
}

.availability .search-form input[type=text],
.availability .search-form select {
    border: 1px solid #ddd;
    outline: 0;
    height: 35px;
    border-radius: 0;
    -webkit-border-radius: 0;
    padding: 0 12px;
}


/* Animation */

#content .grid-villas .background {
    -webkit-transition: -webkit-transform 0.4s ease;
    transition: -webkit-transform 0.4s ease;
    transition: transform 0.4s ease;
    transition: transform 0.4s ease, -webkit-transform 0.4s ease;
}

section.hero-image {}
